
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --purple: #b799ff;
  --light-purple: #acbcff;
  --sky-blue: #aee2ff;
  --light-blue: #e6fffd;
}

body {
  background-color: var(--sky-blue);
}

main {
  margin: 20px auto;
  width: 50%;
  background-color: var(--sky-blue);
  color: #fff;
}

.todolist-container {
  color: #fff;
  margin: 0;
  border-radius: 16px;
  overflow: hidden;
}

.title {
  background-color: var(--purple);
  border-bottom: 1px solid var(--sky-blue);
  padding: 10px 12px;
}

.task {
  background-color: var(--purple);
  border-bottom: 1px solid #fff;
}

#add-task-input {
  font-size: 2rem;
  border: none;
  padding: 12px 15px;
  font-style: italic;
}

#add-task-input:focus {
  outline: none;
  border: none;
}

input[type="checkbox"] {
  transform: scale(2);
  border: 2px solid #999; /* Add a border */
  padding-left: 5px;
  margin-left: 1.5rem;
  margin-right: 1rem;
}

.checkbox-container label {
  font-size: 1.7rem;
}

.checkbox-container {
  width: 90%;
}

.button-container {
  background-color: var(--light-blue);
}

#clear-btn {
  width: 25%;
  margin: 0 auto;
  border-radius: 18px;
  padding: 5px 8px;
  background-color: var(--purple);
}

#clear-btn:hover {
  background-color: var(--light-purple);
  font-weight: 600;
  cursor: pointer;
}

#add-btn {
  color: var(--purple);
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.bg-orange {
  background-color: orange;
}

.input-style {
  font-size: 2rem;
  border: none;
  padding: 12px 15px;
  background-color: inherit;
}

.add-to-list {
  background-color: #fff;
  border-bottom: 1px solid var(--sky-blue);
}

.description-text {
  border: none;
  background-color: inherit;
  padding: 10px 12px;
  font-size: 1.7rem;
}

.description-text:focus {
  border: none;
  background-color: inherit;
  outline: none;
}

.input-style:focus {
  border: none;
  outline: none;
}

.linethrough-text {
  text-decoration: line-through;
}

#load-btn {
  cursor: pointer;
}

::placeholder {
  color: var(--purple);
}
