
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --purple: #b799ff;
  --light-purple: #acbcff;
  --sky-blue: #aee2ff;
  --light-blue: #e6fffd;
}

body {
  background-color: var(--light-purple);
}

main {
  margin: 20px auto;
  width: 50%;
  background-color: var(--sky-blue);
  color: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.todolist-container {
  color: #fff;
  margin: 0;
  overflow: hidden;
}

.title {
  background-color: var(--purple);
  padding: 10px 12px;
}

.task:nth-child(even) {
  background-color: rgba(183, 153, 255, 1);
}

.task:nth-child(odd) {
  background-color: rgba(101, 84, 175, 1);
}

.task:nth-child(even):hover {
  background-color: rgba(183, 153, 255, 0.9);
}

.task:nth-child(odd):hover {
  background-color: rgba(101, 84, 175, 0.9);
}

#add-task-input {
  font-size: 1.7rem;
  border: none;
  color: var(--purple);
  font-weight: 600;
  padding: 12px 15px;
  font-style: italic;
}

#add-task-input:focus {
  outline: none;
  border: none;
}

input[type="checkbox"] {
  transform: scale(1.5);
  padding-left: 5px;
  margin-left: 1.5rem;
  margin-right: 1rem;
  border-radius: 12px;
}

.checkbox-container {
  width: 90%;
}

.button-container {
  background-color: var(--light-blue);
}

#clear-btn {
  width: 25%;
  margin: 0 auto;
  border-radius: 18px;
  padding: 5px 8px;
  background-color: var(--purple);
}

#clear-btn:hover {
  background-color: var(--light-purple);
  font-weight: 600;
  cursor: pointer;
}

#add-btn {
  color: var(--purple);
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.input-style {
  font-size: 2rem;
  border: none;
  padding: 12px 15px;
  background-color: inherit;
}

.add-to-list {
  background-color: #fff;
  border-bottom: 1px solid var(--sky-blue);
}

.description-text {
  border: none;
  color: #fff;
  background-color: inherit;
  padding: 10px 12px;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.description-text:focus {
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;
}

.input-style:focus {
  border: none;
  outline: none;
}

.linethrough-text {
  /* text-decoration: line-through; */
  color: red;
  text-decoration-color: rgb(151, 2, 2);
}

#load-btn {
  cursor: pointer;
  font-size: 21px;
  animation: rotation 2s  infinite linear;
}

.bg-orange {
  background-color: #e966a0 !important;
}

::placeholder {
  color: var(--purple);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
